@font-face {
	font-family: 'PressStart2P';
	src: url('../../../fonts/PressStart2P.ttf') format('truetype');
}
body {
	background-color: #777877;
	padding: 14px;
	color: #FFFFFF;
}
.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}
.move-row {
	background-color: #4b4b4b;
	margin-bottom: 14px;
	margin-left: -100px;
	margin-right: 0px;
	padding: 13px;
}

#move-list {
	background-color: #777877;
	padding: 14px;
	color: #FFFFFF;
}
.move-image img {
	margin-left: auto;
	margin-right: 30px;
	margin-bottom: auto;
}
.move-name {
	font-family: 'PressStart2P';
	text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    border-style: solid;
    border-top-width: 4px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    margin-right: 0px;
	padding-top: 9px;
}
.move-desc {
	margin-right: 0px;
	text-align: justify;
	font-size: 14px;
}
.move-notation {
	text-align: right;
	margin-right: 0px;
}
.move-notation img {
	padding-bottom: 14px;
	height: 60px;
}